      
            p{
                color:rgb(204, 236, 22)
            }
            h1{
                color:blueviolet
            }

            *{
                border:transparent
            }
        .header{
            color: pink;
            background-color: pink;
            display:flex;
            justify-content: space-between;
        }
        .grid{
            display: flex;
            justify-content: space-evenly;
        }
        .footer{
            background-color: blueviolet;
            display: flex;
            justify-content: flex-end;
        }
        
        p,h2{
            text-align: center;
        }

        body{
            background-color:  #808080;
        }